{% extends 'base.html' %}

{% block content %}
    <h1>Jak zaregistrovat noveho klienta/opatrovnika?</h1>
    <p>Vytvorte ucet a profil opatrovnikovi/klientovy <a href="{% url 'account_creation' %}">ZDE</a></p>
{#    <p>Upravte jiz existujici profily  <a href="{% url 'account_creation' %}">ZDE</a></p>#}
{#    <p>Pridejte/odeberte/upravte smeny opatrovnikum <a href="">ZDE</a></p>#}
    <p><a href="{% url 'display_users' %}">Uprava profilu</a></p>
    <p><a href="{% url 'login_user' %}">ZPÁTKY</a></p>
{% endblock %}