{% extends 'base.html' %}

{% block content %}
    
<style>
    .uniform-btn {
        width: 100%;  /* Ensures each button stretches fully within its column */
    }
</style>    
    <h1>LIST</h1>

    {% if patients %}
    	<h5>Klienti</h5>
        {% for patient in patients %}
            {% with full_name='klient'|add:'-'|add:patient.first_name|add:'-'|add:patient.last_name %}
                <p><a class="btn btn-secondary uniform-btn" href="{% url 'user_update' full_name %}">{{ patient.first_name }} {{ patient.last_name }}</a></p>
            {% endwith %}
        {% endfor %}
        <br>
    {% endif %}

    {% if caregivers %}
    	<h5>Opatrovníci</h5>
        {% for caregiver in caregivers %}
          {% with full_name='opatrovnik'|add:'-'|add:caregiver.first_name|add:'-'|add:caregiver.last_name %}
                <p><a class="btn btn-secondary uniform-btn" href="{% url 'user_update' full_name %}">{{ caregiver.first_name }} {{ caregiver.last_name }}</a></p>
          {% endwith %}
        {% endfor %}
        <br>
    {% endif %}


    {% if admins %}
        <h5>Admini</h5>
        {% for admin in admins %}
                {% with full_name='admin'|add:'-'|add:admin.first_name|add:'-'|add:admin.last_name %}
                    <p><a class="btn btn-secondary uniform-btn" href="{% url 'user_update' full_name %}">{{ admin.first_name }} {{ admin.last_name }}</a></p>
                {% endwith %}
        {% endfor %}
        <br>
    {% endif %}

    {% if unfinished_users %}
    	<h5>Nedokončené účty klientů</h5>
        {% for unfinished_user in unfinished_users %}
            <p><a class="btn btn-secondary uniform-btn" href="{% url 'patient_registration' %}">{{ unfinished_user.first_name }} {{ unfinished_user.last_name }}</a></p>
        {% endfor %}
    {% endif %}
    <p><a href="{% url 'administration' %}" class="btn btn-primary">ZPÁTKY</a></p>

{% endblock %}