{% extends 'base_login.html' %}

{% block content %}

    <div class="container">
        <div class="col-12 col-md-8 col-lg-6">
            <form action="" method="POST" class="login">
                {% csrf_token %}
                <!--- <div class="row justify-content-center"> -->
                    <h1>Care Companion</h1>
                <!---</div> -->
                <input type="text" placeholder="Username" class="form-control" name="username" aria-describedby="emailHelp">
                <input type="password" placeholder="Password" class="form-control" name="password">
                <button type="submit" value="PŘIHLÁSIT SE">Login</button>
            </form>
        </div>
    </div>

{% endblock %}
