{% extends 'base.html' %}

{% block content %}

    <h1>Přihlášení</h1>
    <form action="" method="POST">
        {% csrf_token %}

        <div class="mb-3">
            <label class="form-label">UŽIVATELSKÉ JMÉNO</label>
            <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label class="form-label">HESLO</label>
            <input type="password" class="form-control" name="password">
        </div>

        <input type="submit" value="PŘIHLÁSIT SE" class="btn btn-secondary">

    </form>


    <br>
    <a href="{% url 'index' %}">Home</a>
    <a href="{% url 'index_caregiver' %}">Opatrovník</a>
    <a href="{% url 'index_patient' %}">Klinet</a>
    <br>
    <a href="{% url 'administration' %}">administrace</a>
{% endblock %}
