{% extends 'base.html' %}

{% block content %}

{% if creating %}
	<h1>Registrace pacienta</h1>
    {% else %}
    <h1>Uprava infa pacienta</h1>
{% endif %}

<form method="post" enctype="multipart/form-data" id="patient-registration-form" autocomplete="off">
    {% csrf_token %}

    {{ patient_form.as_p }}

    <h3>Contacts</h3>

    <div id="contacts-formset" data-form-prefix="contacts" class="formset">
        {{ contact_formset.management_form }}
        <div class="empty-form" style="display: none;">
            {{ contact_formset.empty_form }}
        </div>
        {% for form in contact_formset %}
            <div class="formset-contacts">
                {{ form.as_p }}
                <br>
            </div>
        {% endfor %}
    </div>
    <button type="button" id="add-contact">Add Contact</button>

    <h3>Medications</h3>

    <div id="medications-formset" data-form-prefix="medications" class="formset">
        {{ medication_formset.management_form }}
        <div class="empty-form" style="display: none;">
            {{ medication_formset.empty_form }}
        </div>
        {% for form in medication_formset %}
            <div class="formset-medications">
                {{ form.as_p }}
            </div>
        {% endfor %}
    </div>
    <button type="button" id="add-medication">Add Medication</button>

    <button type="submit" id="register-patient-btn">Uložit</button>
</form>

<script>

    {% if creating %}
        document.addEventListener('DOMContentLoaded', function() {
        resetForm();
    });

    function resetForm() {
        $('#patient-registration-form')[0].reset();
        $('.formset-contacts').empty();
        $('.formset-medications').empty();
    }
    {% endif %}

    function addFormsetForm(formsetPrefix) {
        const managementForm = $(`#${formsetPrefix}-formset [id$='-TOTAL_FORMS']`);
        let totalForms = parseInt(managementForm.val());

        const emptyForm = $(`#${formsetPrefix}-formset .empty-form`).html();
        totalForms += 1;
        managementForm.val(totalForms + 1);

        const newForm = emptyForm.replace(/__prefix__/g, totalForms);
        const formsetContainer = $(`#${formsetPrefix}-formset`);

        {#<div class="formset-${formsetPrefix}">#}
        {#    ${newForm}#}
        {#    <button type="button" class="delete-formset-item" onclick="deleteFormsetForm(this)">Delete</button>#}
        {#</div>#}
        formsetContainer.append(`<div class="formset-${formsetPrefix}">${newForm}<button type="button" class="delete-formset-item" onclick="deleteFormsetForm(this)">Delete</button></div>`);

    }

    function deleteFormsetForm(btn) {
        $(btn).closest('.formset-' + $(btn).parent().parent().data('form-prefix')).remove();
    }


    $(document).ready(function() {

        $('#add-contact').on('click', function() {
            addFormsetForm('contacts');
        });

        $('#add-medication').on('click', function() {
            addFormsetForm('medications');
        });
    });
</script>


{% endblock %}