{% extends 'base.html' %}

{% block content %}
<style>

.btn-warning2 {
    /* Ensure the position is relative to allow absolute positioning within */
    position: relative;
    overflow: hidden; /* Keeps the pseudo-element inside the button */
    transition: all 0.3s ease;
}

.btn-warning2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
        45deg,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2) 10px,
        transparent 10px,
        transparent 20px
    );
    animation: slide 9s linear infinite forwards;
    opacity: 0.5;
}

@keyframes slide {
    0% {
        background-position: 0% 0;
    }
    100% {
        background-position: 100px 0; /* controls the movement speed and distance */
    }
}

</style>

    {% if form.errors %}

    <div class="container">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            Při úpravě profilu došlo k chybě
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    {% endif %}

    <div class="container">
    <h1>Úprava profilu pro {{ user.first_name }} {{ user.last_name }}</h1>

        <form action="{{ request.path }}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <p>
            <!-- Jestli je rozkliknutý uživatel klient, zobrazí se tlačítko na úpravu klientského infa -->
            {% if group == 'klient' %}
        	    <button type="button" class="btn btn-success" onclick="redirectToInfo()">Změna infa</button>
            {% endif %}
            <button type="button" class="btn btn-danger" onclick="redirectToPassword()">Změna hesla</button>
            <a class="btn btn-warning btn-warning2" href="{% url 'delete_user' user.pk %}">Smazat účet</a>
        </p>
        <p><input type="submit" value="Uložit" class="btn btn-secondary"></p>
        <p><a href="{% url 'display_users' %}" class="btn btn-primary">ZPÁTKY</a></p>
    </form>
    </div>

    <!-- JavaScript -->
    <script>
        // Přidá současné url 'zmena-hesla/' -> přesměrování na resetování hesla konkrétního uživatele
        function redirectToPassword() {
            window.location.replace(window.location + 'zmena-hesla/');
        }
        // Přidá současné url 'zmena-infa/' -> přesměrování na úpravu infa klientů
        function redirectToInfo() {
            window.location.replace(window.location + 'zmena-infa/');
        }
    </script>
{% endblock %}