   .tile {
      border: 1px solid #ccc;
      margin-bottom: 20px;
      text-align: center;
      padding: 0px; /* Increased padding for the container */
      border-radius: 10px; /* Rounded edges */
    }
    .tile-header {
      background-color: #007bff;
      color: #fff;
      padding: 10px 20px; /* Adjusted padding to remove top padding */
      font-size: 24px; /* Increased font size for the header */
      border-top-left-radius: 10px; /* Rounded edges for top-left corner */
      border-top-right-radius: 10px; /* Rounded edges for top-right corner */
    }
    .tile-body {
      padding: 20px;
      color: #fff; /* Text color */
      border-bottom-left-radius: 10px; /* Rounded edges for bottom-left corner */
      border-bottom-right-radius: 10px; /* Rounded edges for bottom-right corner */
    }
    .tile i {
      font-size: 48px; /* Increased font size for the icons */
    }
    /* Customize gradient colors for each tile */
   .tile:nth-child(1) .tile-body {
      background: url(/static/greenbg.png) no-repeat center center;
      background-size: cover; /* This will scale your image to cover the entire element */
    }
    .tile:nth-child(2) .tile-body {
      background: url(/static/ylowbg.jpeg) no-repeat center center;
      background-size: cover; /* This will scale your image to cover the entire element */
    }
    .tile:nth-child(3) .tile-body {
      background: url(/static/redbg.jpeg) no-repeat center center;
      background-size: cover;
    }
    .tile:nth-child(4) .tile-body {
      background: url(/static/pplbg.jpeg) no-repeat center center;
      background-size: cover;
    }
    .tile:nth-child(5) .tile-body {
      background: url(/static/ylowbg.jpeg) no-repeat center center;
      background-size: cover;
    }

    /* Center the username comment to allow me to push to git?*/
    .username-box {
      display: flex;
      justify-content: center;
    }
    .navbar .navbar-text {
      flex-grow: 1;
    }
    /* Adjust spacing */
    .navbar-nav .nav-item:last-child {
      margin-left: auto; /* Push the logoff button to the right */
    }

    .container-fluid {
      padding-left: 0;
      padding-right: 0;
    }
    div .tile{
        transition: transform 1s ease;
    }
    div .tile:hover {
        transform: translateY(-8px);
    }

    div .card {
        margin-top: 20px;
    }

    p .card-text #activity {
        padding-top: 10px;
    }

    div .manual{
        border: none;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-top: 20px;
    }

    div .manual-body {
        background-color: #f4f4f4;
        padding: 20px;
    }

    h1 .manual-title {
        font-size: 24px;
        color: #333;
        margin-bottom: 20px;
        text-align: center;
    }

    p. manual-text {
        margin: 0;
        padding: 5px 0;
        text-align: center;
    }

    p. manual-text > a {
        color: #007bff;
        text-decoration: none;
        transition: color 0.3s ease;
    }

    p. manual-text > a:hover {
        color: #0056b3;
    }

    div .map-container{
        max-width: 1000px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        /*
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        apply if we want the map to be centred on the page
         */
    }

    h1 .map-h1 {
        color: #333;
        text-align: center;
        margin-bottom: 20px;
    }

    div .image-container {
      text-align: center;
        margin-bottom: 20px;
    }

    img .nice-image {
      max-width: 100%;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease;
    }

    div .image-container #makebigger:hover {
      transform: scale(1.05);
    }

    .back-link {
        display: block;
        text-align: center;
        margin-top: 20px;
        text-decoration: none;
        color: #007bff;
        font-weight: bold;
    }

   .back-link:hover {
       text-decoration: underline;
   }

   div .text-container {
       font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #fff;
    margin: 0;
    padding: 0;
   }

   div .text-container > p {
        font-size: 16px;
    margin-bottom: 10px;
   }

   div .text-container > a {
        color: #007bff;
    text-decoration: none;
   }

   div .text-container > h1 {
       font-size: 28px;
    margin-bottom: 20px;
   }

   div .text-container > h2 {
       font-size: 24px;
    margin-bottom: 15px;
   }

   div .custom-center {
        text-align: left;
    }

    div .custom-center h2 {
        text-align: left; /* change if we want the text to be justified to center */
    }




