{% extends 'base_patient.html' %}
{% load static %}
{% block navbar %}
     <a href="{% url 'index_patient' %}"><img src="{% static 'CareLogo.png' %}" alt="Italian Trulli"></a>
{% endblock %}

{% block content %}

    <h1>ROZVRH DNE</h1>

    {% if not no_activities %}

        {% if todays_activities %}
            <h4>Dnesni rozvrh</h4>
        	{% for activity in todays_activities %}
        		<p>{{ activity.time }} -> {{ activity.description }}</p>
        	{% endfor %}
            {% else %}
            <h4>Na dnes nemate zadne zadane aktivity</h4>
        {% endif %}
        <p>-----------</p>
        {% if other_activities %}
            {% for activity in other_activities %}
            	<h3>{{ activity.date }}</h3>
                <p>{{ activity.time }} -> {{ activity.description }}</p>
            {% endfor %}
        {% endif %}

        {% else %}
            <p>Nemate zadne rovzhy :((((((</p>
    {% endif %}




    <a href="{% url 'index_patient' %}">ZPÁTKY</a>

{% endblock %}
