{% extends 'base_patient.html' %}
{% load static %}
{% block navbar %}
     <a href="{% url 'index_patient' %}"><img src="{% static 'CareLogo.png' %}" alt="Italian Trulli"></a>
{% endblock %}

{# TODO: datum i s dnem v tydnu #}
{% block content %}
    <div class="container">
        <h1>ROZVRH DNE</h1>
        {% if not no_activities %}
            {% if todays_activities %}
                <!-- table header -->
                <div class="row">
                    <div class="col">
                        <h3>DATUM</h3>
                    </div>
                    <div class="col">
                        <h3>ČAS</h3>
                    </div>
                    <div class="col">
                        <h3>POPIS</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                      <p>Dnesni rozvrh</p>
                    </div>
                    <div class="col">
                        {% for activity in todays_activities %}
                        <p>{{ activity.activity.time }}</p>
                        {% endfor %}
                    </div>
                    <div class="col">
                        {% for activity in todays_activities %}
                            <p>{{ activity.activity.description }}</p>
                        {% endfor %}
                    </div>
                </div>
        {% else %}
            <h4>Na dnes nemate zadne zadane aktivity</h4>
        {% endif %}

        {% if other_activities %}
            {% regroup other_activities by activity.date as grouped_activities %}
                {% for date_activities in grouped_activities %}

                    <div class="row">
                        <div class="col">
                            <h4>{{ date_activities.grouper }}</h4><!-- activity  date-->
                        </div>
                        <div class="col">
                            {% for activity_info in date_activities.list %}
                                <p>{{ activity_info.activity.time }}</p><!-- activity time (hour)-->
                            {% endfor %}
                        </div>
                        <div class="col">
                            {% for activity_info in date_activities.list %}<!-- activity descr-->
                                <p>{{ activity_info.activity.description }}</p>
                            {% endfor %}
                        </div>
                    </div>

                {% endfor %}
        {% endif %}

        {% else %}
            <p>Nemate zadne rovzhy :((((((</p>
        {% endif %}

        <a href="{% url 'index_patient' %}">ZPÁTKY</a>
    </div>

{% endblock %}
