<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CareCompanion</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <!-- Include Bootstrap Icons library -->
    {% load static %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon"> <!-- favicon -->
    <link  rel="stylesheet" href="{% static '/caregiver/caregiver.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <style>

  </style>
</head>
<body>

<!-- custom bootstrap navbar -->
    <div class="container-fluid bg-light pt-1 pb-1">
        <div class="row">
            <div class="col d-none d-md-block"> <!-- First column, hidden on mobile -->
                <div class="p-1 ml-3 mt-1 navbar-brand">Care companion</div>
            </div>
            <div class="col-9 col-sm-4 text-left text-sm-center"> <!-- Second column -->
                <div class="p-1 mt-1 mb-1 pl-3 ml-3 ml-sm-0 text-muted">{% block navbar %}{% endblock %}</div>
            </div>
            <div class="col-3 col-sm-4 text-right"> <!-- Third column -->
                <div class="p-1 mr-2 text-end"><a class="btn btn-danger btn-sm" href="{% url 'logout_user' %}">Odhlásit se</a></div>
            </div>
        </div>
    </div>

<!-- display caregivers tiles -->
<div class="block-content">
 {% block content %}
 {% endblock %}
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>