{% extends 'base_caregiver.html' %}

{% block content %}

    <div class="container mt-4">
        <!-- Celé jméno klienta -->
        <h2>{{ patient.first_name }} {{ patient.last_name }}</h2>

        <!-- Formulář pro úpravu rozvrhů -->
        <form action="" method="POST" class="needs-validation">
            {% csrf_token %}
            <div id="activities-formset" data-form-prefix="activities">
                {{ formset.management_form }}
                <!-- Schovaná prázdná forma pro JavaScript klonování -->
                <div class="empty-form d-none">
                    {{ formset.empty_form }}
                </div>
                 <!-- Projde všechnz formsets a zobrazí je -->
                {% for form in formset %}
                    <div class="mb-1 formset-activities">
                        {{ form.as_p }}
                        <!-- Schovaný input pro vložení patient ID -->
                        <input type="hidden" name="patient" value="{{ patient.id }}">
                    </div>
                {% endfor %}
            </div>
            <!-- Layout for buttons -->
            <div class="d-flex justify-content-between align-items-center mb-3">
                <!-- Left aligned buttons -->
                <div>
                    <button type="button" id="add-activities" class="btn btn-primary">Přidat aktivitu</button>
                    <input type="submit" value="Uložit" class="btn btn-secondary">
                </div>

                <!-- Right aligned button -->
                <div>
                    <a href="{% url 'patient_schedules' %}" class="btn btn-primary">
                        <i class="bi bi-arrow-left" style="margin-right: 10px;"></i>ZPÁTKY
                    </a>
                </div>
            </div>
        </form>
    </div>

    <!-- JavaScript -->
    <script>
        // Funkce na přidání nového formsetu
        function addFormsetForm(formsetPrefix) {
            const managementForm = $(`#${formsetPrefix}-formset [id$='-TOTAL_FORMS']`);
            let totalForms = parseInt(managementForm.val());

            const emptyForm = $(`#${formsetPrefix}-formset .empty-form`).html();
            totalForms += 1;
            managementForm.val(totalForms + 1);

            const newForm = emptyForm.replace(/__prefix__/g, totalForms);
            const formsetContainer = $(`#${formsetPrefix}-formset`);
            // Kód, který se vloží do html:
            // <div class="mb-3 formset-${formsetPrefix}">
            //     ${newForm}
            //     <button type="button" class="btn btn-danger btn-sm delete-formset-item" onclick="deleteFormsetForm(this)">Delete</button>
            // </div>

            formsetContainer.append(`<div class="mb-3 formset-${formsetPrefix}">${newForm}<button type="button" class="btn btn-danger btn-sm delete-formset-item" onclick="deleteFormsetForm(this)">Delete</button></div>`);
        }

        // Funkce pro smazání formsetu
        function deleteFormsetForm(btn) {
            $(btn).closest('.formset-activities').remove();
        }

        // Přiřazuje funkce btns
        $(document).ready(function() {
            // Zavolá fci na přidání formsetu
            $('#add-activities').on('click', function() {
                addFormsetForm('activities');
            });

            // Zavolá fci na smazání formsetu
            $(document).on('click', '.delete-formset-item', function() {
                deleteFormsetForm(this);
            });
        });
    </script>

{% endblock %}
