{% extends 'base_caregiver.html' %}

{% block content %}

    <h1>MAPA POKOJŮ</h1>

    <!-- satic pic of hospital rooms; Most likely will stay static -->
    <!-- possibly add 2nd floor and swithc betwen them (aby se nereklo)-->
    <div class="image-container">
        <img src="https://www.researchgate.net/profile/Luca-Carenzo/publication/332727301/figure/fig1/AS:752931930386442@1556524369523/A-map-of-the-field-hospital.ppm" alt="Static Image" class="nice-image">
    </div>

    <a href="{% url 'index_caregiver' %}">ZPÁTKY</a>

{% endblock %}