{% extends 'base_caregiver.html' %}

{% load static %}
{% block navbar %}
     <a href="{% url 'index_caregiver' %}"><img src="{% static 'CareLogo.png' %}" alt="Italian Trulli"></a>
{% endblock %}

{% block content %}

     <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="manual">
                    <div class="manual-body">
                        <h1 class="manual-title text-center">MANUÁL</h1>
                        <p class="manual-text text-left"><a href="{% url 'what_to_do'%}">Co dělat když?</a></p>
                        <p class="manual-text text-left"><a href="{% url 'activities'%}">Společenské aktivity</a></p>
                        <p class="manual-text text-left"><a href="{% url 'education'%}">Rozšiřte si znalosti o době našich klientů</a></p>
                        <p class="manual-text text-left"><a href="{% url 'index_caregiver' %}" class="btn btn-primary">ZPÁTKY</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}