{% extends 'base_caregiver.html' %}
{% load static %}
{% block navbar %}
     <a href="{% url 'index_caregiver' %}"><img src="{% static 'CareLogo.png' %}" alt="Italian Trulli"></a>
{% endblock %}


{% block content %}

    <h1>KARTY PACIENTŮ</h1>
    {% for patient in patients %}
        {% with full_name=patient.first_name|add:'-'|add:patient.last_name %}
            <p><a href="{% url 'patient_info' full_name %}">{{ patient.first_name }} {{ patient.last_name }}</a></p>
        {% endwith %}
    {% endfor %}
    <br>
    <a href="{% url 'index_caregiver' %}">ZPÁTKY</a>

{% endblock %}
