{% extends 'base_caregiver.html' %}
{% load static %}
{% block navbar %}
     <a href="{% url 'index_caregiver' %}"><img src="{% static 'CareLogo.png' %}" alt="Italian Trulli"></a>
{% endblock %}

{% block content %}

    <h1 class="text-center">KARTY KLIENTŮ</h1>

    <div class="container medical-card-container">
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
        <ul id="myUL">
            {% for patient in patients %} <!-- todo: ideally make the list alphabetical (preorder on back-end) -->
                {% with full_name=patient.first_name|add:'-'|add:patient.last_name %}
                    <li><a href="{% url 'patient_info' full_name %}">{{ patient.first_name }} {{ patient.last_name }}</a></li>
                {% endwith %}
            {% endfor %}
        </ul>
    </div>

    <br>
    <div class="container-fluid text-center">
        <a class="text-center" href="{% url 'index_caregiver' %}">ZPÁTKY</a>
    </div>

    <style>
        #myInput {
            background-image: url('/static/CareLogo.png'); /* Add a search icon to input */
            background-position: 10px 12px; /* Position the search icon */
            background-repeat: no-repeat; /* Do not repeat the icon image */
            width: 100%; /* Full-width */
            font-size: 16px; /* Increase font-size */
            padding: 12px 20px 12px 40px; /* Add some padding */
            border: 1px solid #ddd; /* Add a grey border */
            margin-bottom: 12px; /* Add some space below the input */
        }

        #myUL {
            /* Remove default list styling */
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        #myUL li a {
            border: 1px solid #ddd; /* Add a border to all links */
            margin-top: -1px; /* Prevent double borders */
            background-color: #f6f6f6; /* Grey background color */
            padding: 12px; /* Add some padding */
            text-decoration: none; /* Remove default text underline */
            font-size: 18px; /* Increase the font-size */
            color: black; /* Add a black text color */
            display: block; /* Make it into a block element to fill the whole list */
        }

        #myUL li a:hover:not(.header) {
            background-color: #eee; /* Add a hover effect to all links, except for headers */
        }
    </style>

    <script>
    function myFunction() {
        // Declare variables
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById('myInput');
        filter = input.value.toUpperCase();
        ul = document.getElementById("myUL");
        li = ul.getElementsByTagName('li');

        // Loop through all list items, and hide those who don't match the search query
        for (i = 0; i < li.length; i++) {
          a = li[i].getElementsByTagName("a")[0];
          txtValue = a.textContent || a.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
          } else {
            li[i].style.display = "none";
          }
        }
    }
    </script>

{% endblock %}
