{% extends 'base_caregiver.html' %}

{% load static %}
{% block navbar %}
     <a href="{% url 'index_caregiver' %}"><img src="{% static 'CareLogo.png' %}" alt="Italian Trulli"></a>
{% endblock %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">{{ patient.first_name }} {{ patient.last_name }}</h1>
            <p class="card-text">Datum narození: {{ patient.birthday }}</p>
            <p class="card-text">Číslo pokoje: {{ patient.room_number }}</p>
            <p class="card-text">Zdravotní informace: {{ patient.health_info|linebreaks }}</p>

            <h3>Medikace</h3>
            <ul class="list-group">
                {% for medication_intake in patient.medicationintake_set.all %}
                    <li class="list-group-item">{{ medication_intake.medication }} ({{ medication_intake.when }}, {{ medication_intake.how }})</li>
                {% endfor %}
            </ul>

            <h3 class="pt-2">Kontakty</h3>
            <ul class="list-group">
                {% for contact in patient.contact_set.all %}
                    <li class="list-group-item">{{ contact.name }} - {{ contact.get_relationship_display }}: {{ contact.phone_number }}</li>
                {% endfor %}
            </ul>

            {# jestli Patient nema zadne observations tak se nic nezobrazi #}
            <h3 class="pt-2">Postřehy o klientovi:</h3>
            {% if not form.instance.observations %}
                <div id="current-observations" style="display: none;">
            {% else %}
                <div id="current-observations">
            {% endif %}
                <p>{{ patient.observations|linebreaks }}</p>
            </div>

            <button id="edit-observations" class="btn btn-primary" style="margin-top: 0px; margin-bottom: 10px">Přidat/Upravit</button>
            <div id="observations-form" style="display: none;">
                <form method="post">
                    {% csrf_token %}
                    {% if patient.observations %}
                        <input type="hidden" name="observations" value="{{ patient.observations }}">
                    {% endif %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Uložit</button>
                </form>
            </div>
            <br>
            <div class="container-fluid text-start">
                <a href="{% url 'medical_cards' %}" class="btn btn-primary"><i class="bi bi-arrow-left" style="margin-right: 10px;"></i>ZPÁTKY</a>
            </div>
        </div>
    </div>
</div>
</div>

<script>
    document.getElementById("edit-observations").addEventListener("click", function() {
        {#schova vypsane postrehy#}
        document.getElementById("current-observations").style.display = "none";
        {#schova button na editovani#}
        document.getElementById("edit-observations").style.display = "none";
        {#zobrazi formu#}
        document.getElementById("observations-form").style.display = "block";
    });
</script>
{% endblock %}