{% extends 'base_caregiver.html' %}

{% load static %}

{% block navbar %}
     <a href="{% url 'index_caregiver' %}"><img src="{% static 'CareLogo.png' %}" alt="Italian Trulli"></a>
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mt-4 text-center">Rozvrhy klientů</h1>
        <div class="row justify-content-center mt-4">
            <div class="col-md-8">
                <div id="contactsAccordion">
                    {% for info in patients_info %}
                        <div class="accordion-item">
                            <h2 class="accordion-header text-center" id="heading{{ forloop.counter }}">
                                <button class="accordion-button" type="button" data-toggle="collapse" data-target="#collapse{{ forloop.counter }}" aria-expanded="true" aria-controls="collapse{{ forloop.counter }}">
                                    <span class="accordion-title">{{ info.patient.first_name }} {{ info.patient.last_name }}</span>
                                </button>
                            </h2>
                            <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="heading{{ forloop.counter }}" data-parent="#contactsAccordion">
                                <div class="accordion-body">
                                    {% if info.todays_activities %}
                                        <div class="card bg-primary mb-3">
                                            <div class="card-header text-white">
                                                <h4 class="mb-0">Aktivity na dnešek:</h4>
                                            </div>
                                            <ul class="list-group list-group-flush text-secondary">
                                                {% for activity in info.todays_activities %}
                                                    <li class="list-group-item">{{ activity.activity.time }} - {{ activity.activity.description }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}
                                    {% if info.other_activities %}
                                        <!-- Uskupení podle datumu -->
                                        {% regroup info.other_activities by activity.date as grouped_activities %}
                                        <!-- Výpis rozvrhů se stejným datumem pod jedním nadpisem -->
                                        {% for date_activities in grouped_activities %}
                                            {% if date_activities.grouper %}
                                                <div class="card bg-light mb-3">
                                                    <div class="card-header">
                                                        <h4 class="mb-0">{{ date_activities.grouper|capfirst }}</h4>
                                                    </div>
                                                    <ul class="list-group list-group-flush">
                                                        {% for activity_info in date_activities.list %}
                                                            <li class="list-group-item">{{ activity_info.activity.time }} - {{ activity_info.activity.description }}</li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    <p><a class="btn btn-secondary btn-sm" href="{% url 'edit_patient_schedules' info.patient.pk %}">UPRAVIT</a></p>
                                    <hr> <!-- Replacing the line break with a horizontal rule -->
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="container-fluid text-center">
                <a href="{% url 'index_caregiver' %}" class="btn btn-primary"><i class="bi bi-arrow-left" style="margin-right: 10px;"></i>ZPÁTKY</a>
            </div>
        </div>
    </div>
{% endblock %}

