{% extends 'base_caregiver.html' %}
{% load tz %}

{% load static %}
{% block navbar %}
     <a href="{% url 'index_caregiver' %}"><img src="{% static 'CareLogo.png' %}" alt="Italian Trulli"></a>
{% endblock %}

{% block content %}

    <h1>ROZVRH SMĚNY pro {{ caregiver.first_name }} {{ caregiver.last_name }}</h1>

    {% if on_shift %}
    	<h3>Informace k vasi dnesi smene</h3>
        <p>dnes jste na smene od {{ shift_start }} do {{ shift_end }}</p>
        {% if activities %}
            <h6>Napln smeny:</h6>
        	{% for activity in activities %}
        		<p>{{ activity.time }} -> {{ activity.description }}</p>
        	{% endfor %}
        {% endif %}
        {% else %}
            <h3>Informace o nadchazejicich smene</h3>
                {% if next_shift_date %}
                	<p>Vase dlasi smena: {{ next_shift_date }} v {{ next_shift_start }}</p>
                    {% else %}
                    <p>Nemate zadne dalsi registrovane smeny.</p>
                {% endif %}
    {% endif %}
    <a href="{% url 'index_caregiver' %}">ZPÁTKY</a>
{% endblock %}