{% extends 'base_caregiver.html' %}
{% load tz %}

{% load static %}
{% block navbar %}
     <a href="{% url 'index_caregiver' %}"><img src="{% static 'CareLogo.png' %}" alt="Italian Trulli"></a>
{% endblock %}

{% block content %}

    {% if any_shifts %}
        {% if today %}
        	<h2>Informace o vasi dnesni smene</h2>
            <h4>Od {{ shift_start }} do {{ shift_end }}</h4>
            <p>------------------------------------------------------------------</p>
            <br>
        {% endif %}

        {% if upcoming_shifts_info %}
            <h2>Vase nadchazejici smeny</h2>
        	{% for shift_info in upcoming_shifts_info %}
                <h4>{{ shift_info.upcom_shift_date|capfirst }}</h4>
                <p>{{ shift_info.upcom_shift_start }}-{{ shift_info.upcom_shift_end }}</p>
                <p>--------</p>
            {% endfor %}
            {% else %}
                <h3>Bohuzel nemate zaregistrovane zadne nadchazejici smeny v systemu.</h3>
            {% endif %}

        {% else %}
            <h3>Bohuzel nemate zaregistrovane zadne nadchazejici smeny v systemu...</h3>
    {% endif %}

    <a href="{% url 'index_caregiver' %}">ZPÁTKY</a>
{% endblock %}