{% extends 'base_caregiver.html' %}

{% load static %}
{% block navbar %}
     <a href="{% url 'index_caregiver' %}"><img src="{% static 'CareLogo.png' %}" alt="Italian Trulli"></a>
{% endblock %}


{% block content %}
    <div class="container-fluid text-container justify-content-center">
        <div class="row">
            <div class="col-1 col-sm-2"></div>
            <div class="col-10 col-sm-8 px-sm-3 custom-center pt-1 mt-1 text-justify">
                <h3>Okamžitá reakce</h3>
                <p>Když pacient spadne z postele, je důležité zůstat klidným a okamžitě zajistit bezpečí okolí. Oslovte pacienta a zjistěte jeho stav vědomí a orientaci. V případě, že má pacient zranění nebo je neschopen pohybu, je důležité jej nepřesouvat, aby nedošlo k zhoršení jeho stavu, zvláště pokud si stěžuje na bolest nebo existuje podezření na zranění hlavy, páteře či zlomeniny.</p>
                <h3>Posouzení pacienta</h3>
                <p>Prověřte pacienta a vizuálně zhodnoťte přítomnost zranění jako jsou otevřené rány, krvácení nebo deformity. Zároveň zkontrolujte základní životní funkce jako dýchání, pulz a reakci na podněty. Informujte odpovědného lékaře o incidentu a poskytněte mu podrobný popis situace a pozorovaných příznaků pacienta.</p>
                <h3>Dokumentace a komunikace s lékařem</h3>
                <p>Zaznamenejte všechny informace o pádu, včetně času, okolností, které k němu vedly, vašich reakcí a přijatých opatření. Přesnost a detailnost dokumentace jsou klíčové pro správné vyhodnocení incidentu a další kroky. Po zaznamenání incidentu je důležité prozkoumat příčiny, které mohly pád způsobit, a přijmout opatření k odstranění možných rizik a zlepšení bezpečnosti pacienta.</p>
                <h3>Podpora pacienta a prevence dalších incidentů</h3>
                <p>Nabídněte pacientovi psychologickou podporu a ujištění, neboť pády mohou být pro pacienty velmi stresující zážitky. Po poskytnutí nezbytné lékařské péče a zajištění, že neexistují žádné další rizika, monitorujte pacienta, aby bylo možné včas odhalit jakékoli pozdější komplikace vyplývající z pádu. Navrat k běžné péči by měl být zahájen až po konzultaci s lékařem a ujištění, že pacient je v stabilním stavu.</p>
                <a href="{% url 'manual' %}" class="btn btn-primary mb-2">ZPÁTKY</a>
            </div>
            <div class="col-1 col-sm-2"></div>
        </div>
    </div>
{% endblock %}
