{% extends 'base_caregiver.html' %}

{% block content %}
    <div class="container-fluid text-container justify-content-center">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6 custom-center">
                <h1>Co delat kdyz?</h1>

                <h2>Klient spadl z postele</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas aliquet accumsan leo. Etiam commodo dui eget wisi. Phasellus faucibus molestie nisl. Duis viverra diam non justo. Maecenas lorem. Duis ante orci, molestie vitae vehicula venenatis, tincidunt ac pede. Nunc dapibus tortor vel mi dapibus sollicitudin. Nullam lectus justo, vulputate eget mollis sed, tempor sed magna. Phasellus et lorem id felis nonummy placerat. Donec iaculis gravida nulla. Etiam sapien elit, consequat eget, tristique non, venenatis quis, ante. Duis sapien nunc, commodo et, interdum suscipit, sollicitudin et, dolor. Praesent in mauris eu tortor porttitor accumsan. Cras elementum. Phasellus enim erat, vestibulum vel, aliquam a, posuere eu, velit. Maecenas fermentum, sem in pharetra pellentesque, velit turpis volutpat ante, in pharetra metus odio a lectus. Donec vitae arcu.</p>

                <p>Nulla accumsan, elit sit amet varius semper, nulla mauris mollis quam, tempor suscipit diam nulla vel leo. Pellentesque arcu. Nullam eget nisl. Integer tempor. Proin mattis lacinia justo. Aliquam erat volutpat. In rutrum. Phasellus et lorem id felis nonummy placerat. Nullam feugiat, turpis at pulvinar vulputate, erat libero tristique tellus, nec bibendum odio risus sit amet ante. Curabitur sagittis hendrerit ante. Duis risus. Etiam ligula pede, sagittis quis, interdum ultricies, scelerisque eu. Sed convallis magna eu sem. Integer tempor. Aliquam erat volutpat. Morbi scelerisque luctus velit. Etiam egestas wisi a erat. Fusce tellus. Etiam dui sem, fermentum vitae, sagittis id, malesuada in, quam. Nulla est.</p>

                <h2>Chci umyt klienta</h2>
                <p>.....</p>

                <h2>Ztratil jsem klienta</h2>
                <p>fsfjdsjkfjskf</p>

                <p><a href="{% url 'manual' %}">ZPÁTKY</a></p>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
{% endblock %}